.pagination{
    display: flex;
    justify-content: center;
    margin: 4vh;
}

.pagination button {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    cursor: pointer;
    border: none;
    outline: none;
}

.pagination .nextButton{
    border-radius: 5px;
}
.pagination .previous{
    width: 8vh;
    color: white;
    background-color: rgb(44, 49, 65);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all .8s ease;
}

.pagination .next {
    background-color: rgb(166, 214, 218);
    width: 20vh;
    height: 6vh; 
}

.pagination .next:hover {
    background-color: rgb(168, 222, 226);

}