//colors
$color-yellow-light: #edf5a2;
$color-yellow: #D2E054;

$color-primary: #0C7C85;
$color-secondary: #407772;

$color-danger: #DC2626;
$color-success: #65A30D;
$color-default: #525252;

$device-mobile: 800px;