*{
    margin:0;
    padding: 0;
}

.App{
    margin-left: 20vh;
    margin-right: 20vh;
}

body{
    background-color: rgb(10, 33, 37);
}

@media only screen and (max-width: 700px) {
    .App{
        margin-left: 0px;
        margin-right: 0px;
    } 
}